
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <ul>
            <li><a asp-area="" asp-controller="Items" asp-action="Create">New Items</a></li>
            <li><a asp-area="" asp-controller="Items" asp-action="Index">View / Edit Items</a></li>
            <li><a asp-area="" asp-controller="Items" asp-action="ViewOrders">View Orders</a></li>
        </ul>
    </div>
</div>