@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Welcome to The Corner Pub.</h2>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Menu">Our Menu</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Admin">Admin Center</a></li>
        </ul>
    </div>
</div>
