
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <table>
            <tr>
                <th><a asp-area="" asp-controller="Home" asp-action="Menu">Drinks</a></th>
                <th><a asp-area="" asp-controller="Home" asp-action="Admin">Snacks</a></th>
            </tr>
        </table>
    </div>
</div>